{% extends 'base.html.twig' %}

{% block title %}Dasboard{% endblock %}

{% block body %}
<div class="container-fluid text-center">

    {% if is_granted('ROLE_ADMIN') %}
        {% include "shared/shared_dashboard/_shared_dash_admin.html.twig" %}
    {% elseif is_granted('ROLE_PROF') %}
        {% include "shared/shared_dashboard/_shared_dash_formateur.html.twig" %}
    {% elseif is_granted('ROLE_ELEVE') %}
        {% include "shared/shared_dashboard/_shared_dash_eleve.html.twig" %}
    {% endif %}

</div>

    {% block javascripts %}

        {% if is_granted('ROLE_ADMIN') %}
            {% include "shared/shared_dashboard/chart/_chart_admin.html.twig" %}
        {% elseif is_granted('ROLE_PROF') %}
            {% include "shared/shared_dashboard/chart/_chart_formateur.html.twig" %}
        {% elseif is_granted('ROLE_ELEVE') %}
            {% include "shared/shared_dashboard/chart/_chart_eleve.html.twig" %}
        {% endif %}

    {% endblock %}

{% endblock %}
