 <div class="row m-4">

           <div class="col-6">
                <div class="card border-secondary shadow-lg">
                    <div class="card-header text-uppercase text-left bg-secondary text-white">
                        <span>note de frais par formateur</span>
                    </div>
                    <div class="card-body">
                        <canvas id="myChart2" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>


            <div class="col-6">

                <div class="row m-2">
                    <div class="col-6">
                        <div class="card border-secondary shadow-lg">
                            <div class="card-header text-uppercase text-left bg-secondary text-white">
                                 <span>Montant Total des frais</span>
                             </div>
                            <div class="card-body ">
                                 2523 €
                            </div>
                         </div>
                    </div>
                    <div class="col-6">
                        <div class="card border-secondary shadow-lg">
                            <div class="card-header text-uppercase text-left bg-secondary text-white">
                                <span>Nombre d'élèves</span>
                            </div>
                            <div class="card-body">
                                63
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col-6">
                        <div class="card border-secondary shadow-lg">
                            <div class="card-header text-uppercase text-left bg-secondary text-white">
                                 <span>Nombres de notes de inréglées</span>
                             </div>
                            <div class="card-body">
                                 4253 €
                            </div>
                         </div>
                    </div>
                </div>


            </div>

       </div>
</div>