 <div class="row m-4">

           <div class="col-6">
                <div class="card border-secondary shadow-lg">
                    <div class="card-header text-uppercase text-left bg-secondary text-white">
                        <span>note de frais</span>
                    </div>
                    <div class="card-body">
                        <canvas id="myChart" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>


            <div class="col-6">

                <div class="row m-2">
                    <div class="col-6">
                        <div class="card  border-secondary shadow-lg">
                            <div class="card-header text-uppercase text-left bg-secondary text-white">
                                 <span>moyenne générale</span>
                             </div>
                            <div class="card-body ">
                                 12.5 / 20
                            </div>
                         </div>
                    </div>
                    <div class="col-6">
                        <div class="card border-left-secondary border-secondary shadow-lg">
                            <div class="card-header text-uppercase text-left bg-secondary text-white">
                                <span>moyenne générale</span>
                            </div>
                            <div class="card-body">
                                12.5 / 20
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col-6">
                        <div class="card border-left-secondary border-secondary shadow-lg">
                            <div class="card-header text-uppercase text-left bg-secondary text-white">
                                 <span>moyenne générale</span>
                             </div>
                            <div class="card-body">
                                 12.5 / 20
                            </div>
                         </div>
                    </div>
                    <div class="col-6">
                        <div class="card border-left-secondary border-secondary shadow-lg">
                            <div class="card-header text-uppercase text-left bg-secondary text-white">
                                <span>moyenne générale</span>
                            </div>
                            <div class="card-body">
                                12.5 / 20
                            </div>
                        </div>
                    </div>
                </div>


            </div>

       </div>
   
    <div class="row">
        <div class="col">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>! TAF : </strong> Vous avez une travail à faire qui arrive à expiration !.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
