 <div class="row m-4">

           <div class="col-6">

                <div class="card border-danger shadow-lg">
                    <div class="card-header text-uppercase text-left bg-danger text-white">
                        <span>Facturation formateurs</span>
                    </div>
                    <div class="card-body">
                        <canvas id="myChart" width="400" height="200"></canvas>
                    </div>
                </div>

            </div>


            <div class="col-6">

                <div class="row">

                    <div class="col-6">

                        <div class="card border-danger shadow-lg">
                            <div class="card-header text-uppercase text-left bg-danger text-white">
                                 <span>Montant Total des frais</span>
                             </div>
                            <div class="card-body ">
                                 4253 €
                            </div>
                        </div>

                    </div>

                    <div class="col-6">

                        <div class="card border-danger shadow-lg">
                            <div class="card-header text-uppercase text-left bg-danger text-white">
                                <span>Nombre d'élèves</span>
                            </div>
                            <div class="card-body">
                                63
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row mt-3">

                    <div class="col-6">

                        <div class="card border-danger shadow-lg">
                            <div class="card-header text-uppercase text-left bg-danger text-white">
                                <span>Restant à régler</span>
                            </div>
                            <div class="card-body">
                                2512 €
                            </div>
                        </div>

                    </div>

                    
                </div>
            </div>

       </div>
