{% extends 'base.html.twig' %}

{% block title %}Hors fortfait
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h2 class="text-center m-3">
			<span class="font-weight-bold text-white badge badge-{{ color }}">Ajouter une ligne de frais</span>
		</h2>
		<h3>
			<span class="font-weight-bold badge badge-warning">Hors forfait</span>
		</h3>
		<i class="text-muted">Pour le hors forfait, merci d indiquer le montant global directement, pas de prix unitaire et de quantité</i>
		{{ include('out_package/_form.html.twig') }}

		<a title="retour à la liste" style="text-decoration:none;" href="{{ path('bill_lign_index') }}" class=" mt-3 btn-circle btn-secondary">
			<i class="fas fa-undo text-white"></i>
		</a>
	</div>
{% endblock %}
