{% extends 'base.html.twig' %}

{% block title %}Nouvelle Matiere{% endblock %}

{% block body %}
<div class="container-fluid">
    <h2 class="text-center m-3"><span class="font-weight-bold text-white badge badge-{{ color }}">Créer une matière</span></h2>
      
        {{ include('matiere/_form.html.twig') }}
        
    <a title="retour à la liste" style="text-decoration:none;" href="{{ path('matiere_index') }}" class=" mt-3 btn-circle btn-secondary"><i class="fas fa-undo text-white"></i></a>
</div>
{% endblock %}
