{% extends 'base.html.twig' %}

{% block title %}Modification lignes{% endblock %}

{% block body %}
    <h1>Modification lignes</h1>

    {{ include('bill_lign/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('bill_lign_index') }}">back to list</a>

    {{ include('bill_lign/_delete_form.html.twig') }}
{% endblock %}
