{% extends 'base.html.twig' %}

{% block title %}New BillLign{% endblock %}

{% block body %}
    <h1>Create new BillLign</h1>

    {{ include('bill_lign/_form.html.twig') }}

    <a href="{{ path('bill_lign_index') }}">back to list</a>
{% endblock %}
