{% extends 'base.html.twig' %}

{% block title %}Nouvelle ligne de frais
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h2 class="text-center m-3">
			<span class="font-weight-bold text-white badge badge-{{ color }}">Ajouter une ligne de frais</span>
		</h2>
		<h3>
			<span class="font-weight-bold badge badge-success">Forfait</span>
		</h3>
		{{ include('bill_lign/_form.html.twig') }}
		<a title="retour à la liste" style="text-decoration:none;" href="{{ path('bill_lign_index') }}" class=" mt-3 btn-circle btn-secondary">
			<i class="fas fa-undo text-white"></i>
		</a>
	</div>
{% endblock %}
