
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMembre" aria-expanded="true" aria-controls="collapseMembre">
          <i class="fas fa-fw fa-users text-info"></i>
          <span>Notes</span>
        </a>
        <div id="collapseMembre" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Gestion des membres</h6>
            <a class="collapse-item" href={{ path('user_index') }}>Liste</a>
            <a class="collapse-item" href={{ path('user_new') }}>Nouveau</a>
            <h6 class="collapse-header">Gestion des formateurs</h6>
            <a class="collapse-item" href={{ path('user_index') }}>Liste</a>
            <a class="collapse-item" href={{ path('user_new') }}>Tableau de frais</a>
        </div>
      </li>

     