
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMembre" aria-expanded="true" aria-controls="collapseMembre">
          <i class="fas fa-fw fa-marker {{ text_color }}"></i>
          <span>Notes</span>
        </a>
        <div id="collapseMembre" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href={{ path('user_index') }}>Tableau</a>
        </div>
      </li>

     