      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Interface formateur
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFrais" aria-expanded="true" aria-controls="collapseMembre">
          <i class="fas fa-fw fa-money-bill-wave"></i>
          <span>Notes de frais</span>
        </a>
        <div id="collapseFrais" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">gestions des notes de frais</h6>
            <a class="collapse-item" href={{ path('user_index') }}>Liste</a>
            <a class="collapse-item" href={{ path('user_new') }}>Nouvelle</a>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNote" aria-expanded="true" aria-controls="collapseNote">
          <i class="fas fa-fw fa-marker"></i>
          <span>Notes</span>
        </a>
        <div id="collapseNote" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Gestion des notes</h6>
            <a class="collapse-item" href={{ path('user_index') }}>Liste</a>
            <a class="collapse-item" href={{ path('user_new') }}>Insérer une note</a>
          </div>
        </div>
      </li>