
{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
<div class="container-fluid">
    <h2 class="text-center m-3"><span class="badge badge-{{ color }} font-weight-bold text-white">Emploi du temps</span></h2>

<div class="container">
    <div id="calendrier" style="width:70%;margin:auto;font-size:15px;"></div>
</div>

</div>
    
{% endblock %}
{% block javascripts %}
<script>

  $(document).ready(function () {
    let calendarEl = document.getElementById('calendrier');
    let calendar = new FullCalendar.Calendar(calendarEl, {
        initialView : 'timeGridWeek',
        locale :'fr',
        timezone :'Europe/Paris',
        themeSystem: 'bootstrap',
        headerToolbar: {
            start: 'prev,next today',
            center:'title',
            end:'dayGridMonth,timeGridWeek,timeGridDay'
        } ,
        //blocage de l'affichage de l'heure entre 7 et 19h
        slotMinTime : "07:00:00",
        slotMaxTime : "19:00:00",
        buttonText: {
                    today:    'Aujourd\'hui',
                    month:    'Mois',
                    week:     'Semaine',
                    day:      'Jour'
                },
                
        eventRender: function(event, element) {
            element.attr('title', event.title);
        },
        selectable : true,
        events : {{data|raw}}
    });


    // On affiche le calendrier
    calendar.render();
})
</script>
{% endblock %}