{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center font-weight-bold m-3 text-primary table-striped">Modifier l'utilisateur {{ user.email }}</h1>
    <div class="card bg-primary m-3 p-4">
    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
    <div class="row">
        <a href="{{ path('user_index') }}" class="btn btn-secondary btn-sm mr-3">Retour à la liste d'utilisateur</a>
        {{ include('user/_delete_form.html.twig') }}
    </div>
</div>
    
{% endblock %}
